%p#notice= notice
%p
  %strong Resume:
  = @writing.resume
%p
  %strong Cover letter:
  = @writing.cover_letter
%p
  %strong Notes:
  = @writing.notes
= link_to 'Edit', edit_job_writing_path(job_id: @job.id, id: @job.writing.id)
= link_to "new contact", new_job_writing_contact_path(@job, @writing)
= link_to "new note", new_job_writing_note_path(@job, @writing)
|
%table
  %tbody
    - @writing.contacts.each do |contact|
      %tr
        %td
          Name: #{contact.name}
        %td
          Company:  #{contact.company}
        %td
          Email:  #{contact.email}
        %td
          Phone: #{contact.phone}
        %td
          Linkedin Url: #{contact.linkedin_url}
        %td= link_to 'Edit', edit_job_writing_contact_path(@job, @writing, contact)
        %td= link_to 'Delete', job_writing_note_path(@job, @writing, contact), method: :delete, data: { confirm: 'Are you sure?' }
    - @writing.notes.each do |note|
      %tr
        %td
          Note: #{note.content}
        %td= link_to 'Edit', edit_job_writing_note_path(@job, @writing, note)
        %td= link_to 'Delete', job_writing_note_path(@job, @writing, note), method: :delete, data: { confirm: 'Are you sure?' }
\#{link_to 'Back', :back}
