%p#notice= notice
%p
  %strong Resume:
  = @writing.resume
%p
  %strong Cover letter:
  = @writing.cover_letter
%p
  %strong Notes:
  = @writing.notes
= link_to 'Edit', edit_job_writing_path(job_id: @job.id, id: @job.writing.id)
= link_to "new contact", new_job_writing_contact_path(@job, @writing)
|
\#{link_to 'Back', :back}
