%p#notice= notice
%p
  %strong Resume:
  = @writing.resume
%p
  %strong Cover letter:
  = @writing.cover_letter
%p
  %strong Notes:
  = @writing.notes
= link_to 'Edit', edit_writing_path(@writing)
|
\#{link_to 'Back', writings_path}
