= simple_form_for([@job, @apply]) do |f|
  = f.error_notification
  .form-inputs
    = f.input :sent, as: :radio_buttons, input_html: { id: 'apply-sent' }
    = f.input :notes, as: :text, input_html: { id: 'apply-notes' }
  .form-actions
    = f.button :submit, input_html: { id: 'apply-button-submit' }
