// Probably won't need this!

%h1 Listing applies
%table
  %thead
    %tr
      %th Sent
      %th Notes
      %th{:colspan => "3"}
  %tbody
    - @applies.each do |apply|
      %tr
        %td= apply.sent
        %td= apply.notes
        %td= link_to 'Show', apply
        %td= link_to 'Edit', edit_apply_path(apply)
        %td= link_to 'Destroy', apply, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Apply', new_job_apply_path
