%p#notice= notice
%p
  %strong Sent:
  = @apply.sent
%p
  %strong Notes:
  = @apply.notes
= link_to 'Edit', edit_job_apply_path(job_id: @job.id, id: @job.apply.id)
|
\#{link_to 'Back', :back}

= link_to "new contact", new_job_apply_contact_path(@job, @apply)
= link_to "new note", new_job_apply_note_path(@job, @apply)

%table
  %tbody
    - @apply.contacts.each do |contact|
      %tr
        %td
          Name: #{contact.name}
        %td
          Company:  #{contact.company}
        %td
          Email:  #{contact.email}
        %td
          Phone: #{contact.phone}
        %td
          Linkedin Url: #{contact.linkedin_url}
        %td= link_to 'Edit', edit_job_apply_contact_path(@job, @apply, contact)
        %td= link_to 'Delete', job_apply_note_path(@job, @apply, contact), method: :delete, data: { confirm: 'Are you sure?' }
    - @apply.notes.each do |note|
      %tr
        %td
          Note: #{note.content}
        %td= link_to 'Edit', edit_job_apply_note_path(@job, @apply, note)
        %td= link_to 'Delete', job_apply_note_path(@job, @apply, note), method: :delete, data: { confirm: 'Are you sure?' }
