<p id="notice"><%= notice %></p>

<p>
  <strong>Sent:</strong>
  <%= @apply.sent %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @apply.notes %>
</p>

<%= link_to 'Edit', edit_apply_path(@apply) %> |
<%= link_to 'Back', applies_path %>
