<%= form_for(@job) do |f| %>
  <% if @job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@job.research.errors.count, "error") %> prohibited this research from being saved:</h2>

      <ul>
      <% @job.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.fields_for :research do |r| %>
      <%= r.label :company_mission %><br>
      <%= r.text_field :company_mission %><br>
      <%= r.label :company_goals %><br>
      <%= r.text_field :company_goals %><br>
      <%= r.label :current_projects %>
      <%= r.text_field :current_projects %>
    <% end %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
