= simple_form_for([@job, @research]) do |f|
  = f.error_notification
  .form-inputs
    = f.input :values
    = f.input :salary
    = f.input :location
    = f.input :notes
  .form-actions
    = f.button :submit
    
