<h1>Listing researches</h1>

<table>
  <thead>
    <tr>
      <th>Values</th>
      <th>Salary</th>
      <th>Location</th>
      <th>Notes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @researches.each do |research| %>
      <tr>
        <td><%= research.values %></td>
        <td><%= research.salary %></td>
        <td><%= research.location %></td>
        <td><%= research.notes %></td>
        <td><%= link_to 'Show', research %></td>
        <td><%= link_to 'Edit', edit_research_path(research) %></td>
        <td><%= link_to 'Destroy', research, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Research', new_job_research_path %>
