%p#notice= notice
%p
  %strong Values:
  = @research.values
%p
  %strong Salary:
  = @research.salary
%p
  %strong Location:
  = @research.location
%p
  %strong Notes:
  = @research.notes
= link_to 'Edit', edit_job_research_path(job_id: @job.id, id: @job.research.id)
|
\#{link_to 'Back', :back}
