%p#notice= notice
%p
  %strong Values:
  = @research.values
%p
  %strong Salary:
  = @research.salary
%p
  %strong Location:
  = @research.location
%p
  %strong Notes:
  = @research.notes
<<<<<<< HEAD
= link_to 'Edit', edit_job_research_path(job_id: @job.id, id: @job.research.id)

= link_to "new contact", new_job_research_contact_path(@job, @research)
= link_to "new note", new_job_research_note_path(@job, @research)
|

%table
  %tbody
    - @research.contacts.each do |contact|
      %tr
        %td
          Name: #{contact.name}
        %td
          Company:  #{contact.company}
        %td
          Email:  #{contact.email}
        %td
          Phone: #{contact.phone}
        %td
          Linkedin Url: #{contact.linkedin_url}
        %td= link_to 'Edit', edit_job_research_contact_path(@job, @research, contact)
        %td= link_to 'Delete', job_research_note_path(@job, @research, contact), method: :delete, data: { confirm: 'Are you sure?' }
    - @research.notes.each do |note|
      %tr
        %td
          Note: #{note.content}
        %td= link_to 'Edit', edit_job_research_note_path(@job, @research, note)
        %td= link_to 'Delete', job_research_note_path(@job, @research, note), method: :delete, data: { confirm: 'Are you sure?' }

#{link_to 'Back', :back}
