%h1 Listing interviews
%table
  %thead
    %tr
      %th Type
      %th Thank you
      %th{:colspan => "3"}
  %tbody
    - @interviews.each do |interview|
      %tr
        %td= interview.type
        %td= interview.thank_you
        %td= link_to 'Show', interview
        %td= link_to 'Edit', edit_interview_path(interview)
        %td= link_to 'Destroy', interview, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Interview', new_job_interview_path
