<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @interview.type %>
</p>

<p>
  <strong>Thank you:</strong>
  <%= @interview.thank_you %>
</p>

<p>
  <%= render 'notes/form' %>
</p>

<%= link_to 'Edit', edit_interview_path(@interview) %> |
<%= link_to 'Back', interviews_path %>
