<p id="notice"><%= notice %></p>

<p>
  <strong>Contact:</strong>
  <%= @network.contact %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @network.notes %>
</p>

<p>
  <%= render 'notes/form' %>
</p>

<%= link_to 'Edit', edit_network_path(@network) %> |
<%= link_to 'Back', networks_path %>
