%p#notice= notice
%p
  %strong Contact:
  = @network.contact
%p
  %strong Notes:
  = @network.notes
= link_to 'Edit', edit_job_network_path
|
\#{link_to 'Back', :back}

= link_to "new contact", new_job_network_contact_path(@job, @network)
= link_to "new note", new_job_network_note_path(@job, @network)

