<p>
  <strong>Title:</strong>
  <%= @job.title %>
</p>

<p>
  <strong>Url:</strong>
  <%= @job.url %>
</p>

<p>
  <strong>Company name:</strong>
  <%= @job.company_name %>
</p>

<p>
  <strong>How did you find this job?</strong>
  <%= @job.type %>
</p>

<p>
  <strong>Due date:</strong>
  <%= @job.due_date %>
</p>

<p>
  <strong>Done:</strong>
  <% @job.done %>
</p>
