<%= simple_form_for @job do |f| %>
  <% if @job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
      <% @job.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.string :company %>
  </div>
  <div class="field">
    <%= f.string :postion %>
  </div>
  <div class ="field">
    <%= f.input[type=url] :link %>
  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
