= simple_form_for @job do |f|
  - if @job.errors.any?
    #error_explanation
      %p.alert-bad
        = pluralize(@job.errors.count, "error")
        prohibited this job from being saved:
      %ul
        - @job.errors.full_messages.each do |message|
          %li= message

  // FORM:
  = f.input :position, input_html: { id: 'job-position' }
  = f.input :link, input_html: { :type => 'url', id: 'job-url' }
  = f.input :company, input_html: { id: 'job-company' }

  %label{:for => 'apply-by'} Apply by:
  %input{:type => 'date', :name => 'apply-by'}

  %label{:for => 'found-source'} How did you find this job?

  %input{:type => 'radio', :name => 'found-source', :value => 'inperson'} In person

  %input{:type => 'radio', :name => 'found-source', :value => 'online'} Online

  = f.button :submit, input_html: { id: 'job-button-submit' }
