= simple_form_for @job do |f|
  - if @job.errors.any?
    #error_explanation
      %h2
        = pluralize(@job.errors.count, "error")
        prohibited this job from being saved:
      %ul
        - @job.errors.full_messages.each do |message|
          %li= message
  .field
    = f.input :company, input_html: { id: 'job-company' }
  .field
    = f.input :position, input_html: { id: 'job-position' }
  .field
    = f.input :link, input_html: { :type => 'url', id: 'job-url' }
    .actions
      = f.button :submit, input_html: { id: 'job-button-submit' }
