<%= form_for(@job) do |f| %>
  <% if @job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
      <% @job.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.label :title %><br>
    <%= f.text_field :title %>
    <%= f.label :url %><br>
    <%= f.text_field :url %>
    <%= f.label :company_name %><br>
    <%= f.text_field :company_name %>
    <%= f.label :due_date, 'Apply by' %><br>
    <%= f.date_field :due_date %>
    <%= f.label :type, 'How did you find it?' %>
    <%= f.text_field :type %>
    <%= f.submit class: 'primary_button'%>
<% end %>
