= render @job

- content_for :content do
  - case step
  - when 'details'
    = form_for @job do |f|
      = f.label :url
      = f.text_field :url
      = f.label :due_date
      = f.text_field :due_date
      = f.label :type
      = f.text_field :type
      = f.submit
  - when 'research'
    = form_for @job do |f|
      // Match fields to "content_view" for this step
