= render @job

- content_for :content do
  - case step
    - when 'details'
      = render 'steps/details'

    - when 'research'
      = render 'steps/research'

    - when 'networking'
      = render 'steps/networking'

    - when 'documents'
      = render 'steps/documents'

    - when 'apply'
      = render 'steps/apply'

    - when 'interview'
      = render 'steps/interview'

    - when "contacts"
      - @job.contacts.each do |contact|
        = contact.name

    - else
      = t('general_errors.not_in_database', thing: 'Content')
