%h1 Listing Jobs
%table
  %thead
    %tr
      %th Company
      %th Postion
      %th Link to Url
      %th{:colspan => "3"}
  %tbody
    - @jobs.each do |job|
      %tr
        %td= job.company
        %td= job.postion
        %td= job.link
        %td= link_to 'Show', job
        %td= link_to 'Edit', edit_job_path(job)
        %td= link_to 'Destroy', job, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Job', new_job_path

