%header
  %h1 Job Steps

%section
  %h2= @job.position
  %h3= @job.company

= link_to edit_job_path(@job) do
  %section
    %span 1
    %p Job Details
    %div
= link_to job_research_path(job_id: @job.id, id: @job.research.id) do
  %section
    %span 2
    %p Research
    %div
= link_to job_networks_path(job_id: @job.id) do
  %section
    %span 3
    %p Networking
    %div
= link_to job_writing_path(job_id: @job.id, id: @job.writing.id) do
  %section
    %span 4
    %p Job Documents
    %div
= link_to job_apply_path(job_id: @job.id, id: @job.apply.id) do
  %section
    %span 5
    %p Apply
    %div
= link_to job_interviews_path(job_id: @job.id) do
  %section
    %span 6
    %p Interview
    %div

%section
  %p Close Job Entry

%p#notice= notice

= button_to "research show", job_research_path(job_id: @job.id, id: @job.research.id)

= button_to "Add Networking", job_networks_path(job_id: @job.id)

= button_to "Edit Application", job_writing_path(job_id: @job.id, id: @job.writing.id)

= button_to "Apply to Job", job_apply_path(job_id: @job.id, id: @job.apply.id)

= button_to "Add an Interview", job_interviews_path(job_id: @job.id)
