%header
  %h1 Job Steps
  %div {{#}}%

%section
  %h2= @job.position
  %h3= @job.company

= link_to edit_job_path(@job) do
  %section
    %span 1
    %p Job Details
    %div
= link_to new_job_research_path(@job) do
  %section
    %span 2
    %p Research
    %div
= link_to new_job_network_path(@job) do
  %section
    %span 3
    %p Networking
    %div
= link_to new_job_writing_path(@job) do
  %section
    %span 4
    %p Job Documents
    %div
= link_to new_job_apply_path(@job) do
  %section
    %span 5
    %p Apply
    %div
= link_to new_job_interview_path(@job) do
  %section
    %span 6
    %p Interview
    %div

%section
  %p Close Job Entry

%p#notice= notice
