%p#notice= notice
%p
  %strong Company:
  = @job.company
%p
  %strong Postion:
  = @job.postion
%p
  %strong Link to Post:
  =@job.link

=link_to 'Edit', edit_job_path(@job)
|
\#{link_to 'Back', jobs_path}

= link_to "research show", job_research_path(job_id: @job.id, id: @job.research.id)

= link_to "Add Networking", job_networks_path(job_id: @job.id)

= link_to "Edit Application", job_writing_path(job_id: @job.id, id: @job.writing.id)

= link_to "Apply to Job", job_apply_path(job_id: @job.id, id: @job.apply.id)

= link_to "Add an Interview", job_interviews_path(job_id: @job.id)
