<p id="notice"><%= notice %></p>

<p>
  <strong>Company:</strong>
  <%= @job.company %>
</p>

<p>
  <strong>Postion:</strong>
  <%= @job.postion %>
</p>

<p>
  <strong>Link to Post:</strong>
  <%= @job.link %>
</p>

<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', jobs_path %>
