= form_for @user do |f|
  - if @user.errors.any?
    %div.error
      Form is invalid
      %ul
      - @user.errors.full_messages.each do |message|
        %li
          = message

  = f.label :email
  = f.email_field :email
  <br/>
  = f.label :password
  = f.password_field :password
  <br/>
  = f.label :password_confirmation
  = f.password_field :password_confirmation
  <br/>
  = f.submit "Sign up"
