%header.content_header.outer_container
  %article.steptitle_grid.steptitle_flex
    %section.steptitle_width
      %div.number
        %h2 5
      %h1
        = t('job_steps.apply.label')
    = link_to content_edit_job_path({step: 'apply'}) do
      %button.add_button
        = image_tag "edit_icon.svg", size: "20"
    = link_to content_edit_job_path({step: 'apply'}) do
      %button.add_button
        = image_tag "add_note_icon.svg", size: "20"
    = link_to content_edit_job_path({step: 'apply'}) do
      %button.add_button
        = image_tag "add_contact_icon.svg", size: "20"

%article.outer_container
  %section.step_content
    = form_for @job do |g|
      = g.fields_for @job.job_application do |f|
        = f.label :sent, t('job_steps.apply.sent')
        = f.check_box(:sent)
      = g.submit "Save"
