%header.content_header.outer_container
  %article.steptitle_grid.steptitle_flex
    %section.steptitle_width
      %div.number
        %h2 1
      %h1
        = t('job_steps.details.label')
    = link_to content_edit_job_path({step: 'details'}) do
      %button.add_button
        = image_tag "edit_icon.svg", size: "20"
    = link_to content_edit_job_path({step: 'details'}) do
      %button.add_button
        = image_tag "add_note_icon.svg", size: "20"
    = link_to content_edit_job_path({step: 'details'}) do
      %button.add_button
        = image_tag "add_contact_icon.svg", size: "20"

%section.step_content
  = form_for @job do |f|
    = f.label :title, 'Job Title'
    = f.text_field :title
    = f.label :url
    = f.text_field :url
    = f.label :company_name
    = f.text_field :company_name
    = f.label :due_date, 'Apply By'
    = f.date_field :due_date
    = f.label :type, 'How did you find this job?'
    = f.text_field :type
    = f.submit 'Save', { class: 'primary_button' }
