%header.content_header.outer_container
  %article.steptitle_grid.steptitle_flex
    %section.steptitle_width
      %div.number
        %h2 4
      %h1
        = t('job_steps.documents.label')
    = link_to content_edit_job_path({step: 'documents'}) do
      %button.add_button
        = image_tag "edit_icon.svg", size: "20"
    = link_to content_edit_job_path({step: 'documents'}) do
      %button.add_button
        = image_tag "add_note_icon.svg", size: "20"
    = link_to content_edit_job_path({step: 'documents'}) do
      %button.add_button
        = image_tag "add_contact_icon.svg", size: "20"

%section.step_content
  %ul
    %li
      %div.checked
      = @job.resume.resume
      %label Resume
    %li
      %div.checked
      = @job.resume.cover_letter
      %label Cover Letter
    %li
      %div.checked
      = @job.resume.portfolio
      %label Portfolio
    %li
      %div.checked
      = @job.resume.certifications
      %label Certifications
    %li
      %div.checked
      = @job.resume.references
      %label References
    %li
      %div.checked
      = @job.resume.recommendations
      %label Recommendations
