%header.content_header.outer_container
  %article.steptitle_grid.steptitle_flex
    %section.steptitle_width
      %div.number
        %h2 6
      %h1
        = t('job_steps.interview.label')
    = link_to content_edit_job_path({step: 'interview'}) do
      %button.add_button
        = image_tag "edit_icon.svg", size: "20"
    = link_to content_edit_job_path({step: 'interview'}) do
      %button.add_button
        = image_tag "add_note_icon.svg", size: "20"
    = link_to content_edit_job_path({step: 'interview'}) do
      %button.add_button
        = image_tag "add_contact_icon.svg", size: "20"

%article.outer_container
  %section.step_content
    = form_for @job do |g|
      = g.fields_for @job.interview do |f|
  /     / = g.radio_button(:value, 'No')
  /     / = g.label :value_No, 'No'
  /     / = g.radio_button(:value, 'Yes')
  /     / = g.label :value_Yes, 'Yes'

        = f.check_box(:sent)
        = f.label :sent, t('job_steps.apply.sent')
        %li
          = f.label :date, 'When did you apply?'
          = f.date_field :date

      = g.submit "Save", {class: 'primary_button'}
