%header.content_header.outer_container
  %article.steptitle_grid.steptitle_flex
    %section.steptitle_width
      %div.number
        %h2 2
      %h1
        = t('job_steps.research.label')
    = link_to content_edit_job_path({step: 'research'}) do
      %button.add_button
        = image_tag "edit_icon.svg", size: "20"
    = link_to content_edit_job_path({step: 'research'}) do
      %button.add_button
        = image_tag "add_note_icon.svg", size: "20"
    = link_to content_edit_job_path({step: 'research'}) do
      %button.add_button
        = image_tag "add_contact_icon.svg", size: "20"

%section.step_content
  = form_for @job do |g|
    = g.fields_for @job.research do |f|
      = f.label :company_mission, "Company's mission/vision/values"
      = f.text_area :company_mission

      = f.label :company_goals, "Company's Strategic Goals"
      = f.text_area :company_goals

      = f.label :current_projects, "Favorite Company Prouct/Project/Service"
      = f.text_area :current_projects
    = g.submit 'Save', {class: 'primary_button'}
