!!!
%html
  %head
    %title Order | Track Your Job Search Progress
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %header.main-header
      = render 'layouts/header'
    %aside
      = render 'layouts/toolbar'
    %main
      = yield
