!!!
%html
  %head
    %title Order | Track Your Job Search Progress
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %header.main-header
      = render 'layouts/header'

    // TODO: fix this (hide when no alert)
    .alert-bad
      = alert
    .alert-good
      = notice

    %aside
      = render 'layouts/toolbar'
    %main
      = yield
    %footer
